body {
  background-image: url("https://wallpapercave.com/wp/4VJJnzH.jpg");
  background-repeat: no-repeat;
  font-family: 120% Georgia, 'Times New Roman', Times, serif;
}

.title {
  font-size: 30pt;
}

.parent { /* the container for the list only */
  background-color: rgb(255, 236, 207, .7);
  max-width: 750px;
}

.children { /* the list itself */
  background-color: rgb(255, 248, 219, .8);
  max-width: 500px;
} 

.deleteButton {
  background-color: #b5dfdf; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding:  10px 25px  ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.deleteButton:hover {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.24), 4px 4px 4px 4px rgba(0,0,0,0.19);
  cursor: pointer;
}

.newPersonForm, .bookForm {
  background-color: rgb(233, 150, 122, .5);
  border: darkviolet solid 2px;
  border-radius: .50rem;
  max-width: 400px;
}

.submitButton {
  background-color: #a5a7a6; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding:  15px 32px  ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submitButton:hover {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.24), 4px 4px 4px 4px rgba(0,0,0,0.19);
  cursor: pointer;
}