.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  min-height: 10vh;
}

ul{
  list-style-type: none;
  margin: 0;
  padding-left: 2vw;
}

.Link {
  color: rgb(4, 149, 206);
  text-decoration-line: none;
}
.Link:visited {
  color:  rgb(4, 149, 206);
}
.Link:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(228, 147, 160);
  text-decoration: underline;
}
.Link:active {
  color: rgb(255, 0, 0);
}

nav{
  background-color: aliceblue;
  font-size: 16pt;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  color: black;
}

.homeClass, .peopleClass, .filmClass, .locationClass {
  background-color: rgb(255, 255, 255);

}

.slideshow {
  display: grid;
  justify-content: center;
}

footer {
  font-size: 9pt;
  text-align: center;
  justify-items: space-between;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.crossfade {

  border: solid rgb(205, 235, 185) 5pt;
  border-radius: .5rem;
  display: grid;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  overflow: auto;

}

/*
.crossfade > img {
  animation: imageAnimation, 70s linear infinite 70s;
  backface-visibility: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  left: 0px;
  opacity:0;
  position: center center;
  top: 0px;
  z-index: 0;
}

/*
.crossfade > figure:nth-child(1) { 
  animation-delay: 0s;
  background-image: url('./images/1.jpg'); 
}
.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('./images/2.jpg');
}
.crossfade > figure:nth-child(3) {
  animation-delay: 14s;
  background-image: url('./images/3.jpg');
}
.crossfade > figure:nth-child(4) {
  animation-delay: 20s;
  background-image: url('./images/4.png');
}
.crossfade > figure:nth-child(5) {
  animation-delay: 26s;
  background-image: url('./images/5.jpg');
}
.crossfade > figure:nth-child(6) {
  animation-delay: 32s;
  background-image: url('./images/6.jpg');
}
.crossfade > figure:nth-child(7) {
  animation-delay: 38s;
  background-image: url('./images/7.png');
}
.crossfade > figure:nth-child(8) {
  animation-delay: 44s;
  background-image: url('./images/8.jpg');
}
.crossfade > figure:nth-child(9) {
  animation-delay: 50s;
  background-image: url('./images/9.jpg');
}
.crossfade > figure:nth-child(10) {
  animation-delay: 58s;
  background-image: url('./images/10.png');
}


/*
@keyframes 
imageAnimation {  
0% {
 opacity: 0;
}
5% {
 opacity: 0;
}
10% {
  opacity: 0;
}
15% {
  opacity: 0;
}
20% {
  opacity: 30%;
}
21% {
  opacity: 40%;
}
22% {
  opacity: 60%;
}
23% {
  opacity: 0;
}
55% {
  opacity: 0;
}
100% {
  opacity: 0;
}
} 
*/