.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  min-height: 10vh;
}

ul{
  list-style-type: none;
  margin: 0;
  padding-left: 2vw;
}

.Link {
  color: rgb(4, 149, 206);
  text-decoration-line: none;
}
.Link:visited {
  color:  rgb(4, 149, 206);
}
.Link:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(228, 147, 160);
  text-decoration: underline;
}
.Link:active {
  color: rgb(255, 0, 0);
}

nav{
  background-color: aliceblue;
  font-size: 16pt;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  color: black;
}

.homeClass, .peopleClass, .filmClass, .locationClass {
  background-color: rgb(255, 255, 255);

}

.slideshow {
  display: grid;
  justify-content: center;
}

footer {
  font-size: 9pt;
  text-align: center;
  justify-items: space-between;
  word-spacing: 5px;
  letter-spacing: 2px;
}


img {
  max-width: 100%;
  vertical-align: middle;
}

.trigger {
  display: none;
}

.slider-wrapper {
  border: solid rgb(79, 199, 159) 5pt;
  border-radius: .5rem;
  display: grid;
  justify-self: center;
  height: 50vh;
  width: 80vw;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
}

.slider, .slider-wrapper {
  position: relative;
  height: 50vh;
  width: 80vw;

}

.slide {
  background-color: black;
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5000;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.slide-img {
  filter: brightness(50%);
  height: 100%;
  object-fit: fill;
  display: block;
  margin: 0 auto;
}

.slide-figure {
  height: 100%;
  position: relative;
  margin: 0;
}

.slide-caption {
  position: absolute;
  bottom: 30%;
  width: calc(100% - 1rem);
  color: white;
  text-align: center;
  left: 50%;
}

.trigger:checked + .slide {
  z-index: 6000;
  opacity: 1;
}

.slider-nav {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.slider-nav__item {
  display: inline-block;
}

.slider-nav__label {
  font-size: 13px;
  background-color: #333;
  display: block;
  height: 2em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s ease-in-out;
}

.slider-nav__label:hover,
.slider-nav__label:active,
.slider-nav__label:focus {
  background-color: gray;
  color: black;
}

@media only screen and (min-width: 1024px) {
  .slider, .slider-wrapper {
    height: 480px;
  }

  .slide-caption {
    width: 65%;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .slider, .slider-wrapper {
    height: 360px;
  }

  .slide-caption {
    width: 75%;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .slide-img {
    width: 100%;
    height: auto;
  }
}

/*
.crossfade > img {
  animation: imageAnimation, 70s linear infinite 70s;
  backface-visibility: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  left: 0px;
  opacity:0;
  position: center center;
  top: 0px;
  z-index: 0;
}


.crossfade > img:nth-child(1) { 
  animation-delay: 0s;
  background-image: url('./images/1.jpg'); 
}
.crossfade > img:nth-child(2) {
  animation-delay: 6s;
  background-image: url('./images/2.jpg');
}
.crossfade > img:nth-child(3) {
  animation-delay: 14s;
  background-image: url('./images/3.jpg');
}
.crossfade > img:nth-child(4) {
  animation-delay: 20s;
  background-image: url('./images/4.png');
}
.crossfade > img:nth-child(5) {
  animation-delay: 26s;
  background-image: url('./images/5.jpg');
}
.crossfade > img:nth-child(6) {
  animation-delay: 32s;
  background-image: url('./images/6.jpg');
}
.crossfade > img:nth-child(7) {
  animation-delay: 38s;
  background-image: url('./images/7.png');
}
.crossfade > img:nth-child(8) {
  animation-delay: 44s;
  background-image: url('./images/8.jpg');
}
.crossfade > img:nth-child(9) {
  animation-delay: 50s;
  background-image: url('./images/9.jpg');
}
.crossfade > img:nth-child(10) {
  animation-delay: 58s;
  background-image: url('./images/10.png');
}



@keyframes 
imageAnimation {  
0% {
 opacity: 0;
}
5% {
 opacity: 0;
}
10% {
  opacity: 0;
}
15% {
  opacity: 0;
}
20% {
  opacity: 30%;
}
21% {
  opacity: 40%;
}
22% {
  opacity: 60%;
}
23% {
  opacity: 0;
}
55% {
  opacity: 0;
}
100% {
  opacity: 0;
}
} 
*/